/* Button Source: https://getcssscan.com/css-buttons-examples 
   source: https://www.codinglabweb.com/2021/06/dropdown-sidebar-menu-html-css.html
*/

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.card-body{
  background-color: #041c32;
  height: 75vh;
  display: grid;
  /* place-items: center center; */
}
.cards{
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  grid-gap: 20px;

}
.card{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.card-container{
  position: relative;
  clip-path: polygon(0,0,100%,0,100%,85%,0,100%);
}

.dis-non{
  display: none;
}
.loading-screen{
  position: fixed;
  left: 78px;
  top: 0px;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #041c32;
}
.loader{
  width: 12.5rem;
  height: 12.5rem;
  line-height: 12.5rem;
  text-align: center;
  position: relative;
  left: 50%;
  top: 40%;
  margin: -6.25rem 0 0 -6.25rem;
  font-size: 1.875rem;
  color: #fff;
}
.loader-text{
  width: 12.5rem;
  height: 12.5rem;
  line-height: 12.5rem;
  text-align: center;
  position: relative;
  left: 0%;
  top: 40%;
  margin: -6.25rem 0 0 -6.25rem;
  font-size: 1rem;
  color: #fff;
}
.load_anim1,.load_anim1{
  position: absolute;
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  border: 5px solid;
  border-top-color: green;
  border-left-color: pink;
  border-right-color: red;
  border-bottom-color: blue;
  position: absolute;
  left: 49%;
  top: 50%;
  margin: -6.25rem 0 0 -6.25rem;
  animation: loadAnim 3s;
  animation-iteration-count: infinite;
}
@keyframes loadAnim {
  0%{
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,90deg);
  }
  50%{
    transform: rotate3d(1,1,1,180deg);
  }
  100%{
    transform: rotate3d(1,1,1,360deg);
  }
}
/* #classification-btn{
  margin: auto;
  width: 168.2px;
} */

#classification-btn,#northernhemisphere{
  background-color: #041c32;
}
#south{
  display: none;
}
#rti-size{
  width:1078px;
  height: 539px;
}
.box-size{
  margin: auto;
  width: 80vw;
  height: 100vh;
}
#statusNormal{
  background-color: green;
}
#warning{
  background-color:red
}
.tb-size{
  width: 1078px;
}
.tb-head{
  background: #041c32;
  color: #fff;
}
.tb-body{
  background-color: #fff;
  color: #11101d;
  text-align: center;
}
.center {
  /* text-align: center; */
  border: 3px solid #041c32;
  width: 1078px;
  margin: auto;
}

input[type="text"][disabled] {
  background-color: #fff;
  color: black;
  font-weight: bold;
  text-align: center;
}
/* CSS */
#button2{
    position:absolute;  
    right: 7.7rem;
}
#update-cat-button{
  position: relative;
}
.v-align{
  vertical-align:-10%;
}
.button-62-on-music_edit-page{
  position:relative;  
  right:0;
  background: #041c32;
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.button-62 {
  position:absolute;  
  right:0;
  background: #041c32;
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 219, 239, 0.5), .125rem .125rem 1rem rgba(90, 255, 192, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 219, 239, 0.5), .125rem .125rem 1rem rgba(90, 255, 192, 0.5);
}
/* html{
    width: 100%;
    height: 100%;
    margin: 0;
}
.body{
    width: 100vw;
    height: 100vh;
    background-color: #24252a;
} */
img{
    max-width: 100vw;
    max-height: 55vh;
    object-fit: cover;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #041c32;
  z-index: 2000;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #04293a;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #04293a;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 110vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}

